<div class='c-subscribe'>
  <form name="booking" netlify>
  <p>
    <label>Name <input type="text" name="name" /></label>
  </p>
  <p>
    <label>Email <input type="email" name="email" /></label>
  </p><p>
    <label>Type of session <select  name="type">
    <option value="">Please select an  option</option>
    <option value="newborn">Newborn</option>
    <option value="family">Family</option>
    <option value="wedding">Wedding</option>
    <option value="senior">Senior</option>
    <option value="other">Other</option>
</select></label>
  </p>
  <p>
    <label>Date <input type="date" name="date" /></label>
  </p>
  <p><label>Write a brief description of your photography needs:
    <textarea name="message" rows="4" cols="50">

</textarea> </label>
  </p>
  <input type='submit' class='c-subscribe-form__btn c-btn c-btn--active c-btn--full' value='Send Message'>
</form>
</div>
