<ul class='c-social-icons o-plain-list'>
  {% if site.facebook %}
    <li>
      <a href='{{ site.facebook }}' target='_blank'>
        <span class='c-social-nav__icon' data-icon='ei-sc-facebook' data-size='s'></span>
      </a>
    </li>
  {% endif %}
  {% if site.twitter %}
    <li>
      <a href='{{ site.twitter }}' target='_blank'>
        <span class='c-social-nav__icon' data-icon='ei-sc-twitter' data-size='s'></span>
      </a>
    </li>
  {% endif %}
  {% if site.instagram %}
    <li>
      <a href='{{ site.instagram }}' target='_blank'>
        <span class='c-social-nav__icon' data-icon='ei-sc-instagram' data-size='s'></span>
      </a>
    </li>
  {% endif %}
</ul>
