<div class='c-subscribe'>
  <form name="subscribe" netlify>
    <label>Email <input type="email" name="email" /></label>
  <input type='submit' class='c-subscribe-form__btn c-btn c-btn--active c-btn--full' value='Subscribe'>
</form>
</div>
